<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.visionvera.dao.perception.VphoneReportDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.visionvera.bean.datacore.VphoneReport">
        <id column="uniq_id" property="uniqId"/>
        <result column="src_no" property="srcNo"/>
        <result column="src_dev_id" property="srcDevId"/>
        <result column="src_zoneno" property="srcZoneno"/>
        <result column="src_zonedevno" property="srcZonedevno"/>
        <result column="src_mac" property="srcMac"/>
        <result column="src_name" property="srcName"/>
        <result column="src_addr" property="srcAddr"/>
        <result column="dst_no" property="dstNo"/>
        <result column="dst_dev_id" property="dstDevId"/>
        <result column="dst_zoneno" property="dstZoneno"/>
        <result column="dst_zonedevno" property="dstZonedevno"/>
        <result column="dst_mac" property="dstMac"/>
        <result column="dst_name" property="dstName"/>
        <result column="dst_addr" property="dstAddr"/>
        <result column="ip" property="ip"/>
        <result column="port" property="port"/>
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime"/>
        <result column="user_name" property="userName"/>
        <result column="business_mode" property="businessMode"/>
        <result column="business_type" property="businessType"/>
        <result column="business_state" property="businessState"/>
        <result column="platform_type" property="platformType"/>
        <result column="platform_id" property="platformId"/>
        <result column="creat_time" property="creatTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="bus_code" property="busCode"/>
        <result column="bus_msg" property="busMsg"/>
        <result column="is_del" property="isDel"/>
        <result column="ext_attr1" property="extAttr1"/>
        <result column="ext_attr2" property="extAttr2"/>
        <result column="ext_attr3" property="extAttr3"/>
        <result column="ext_attr4" property="extAttr4"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        uniq_id
        AS
        uniqId,
        src_no
        AS
        srcNo,
        src_dev_id
        AS
        srcDevId,
        src_zoneno
        AS
        srcZoneno,
        src_zonedevno
        AS
        srcZonedevno,
        src_mac
        AS
        srcMac,
        src_name
        AS
        srcName,
        src_addr
        AS
        srcAddr,
        dst_no
        AS
        dstNo,
        dst_dev_id
        AS
        dstDevId,
        dst_zoneno
        AS
        dstZoneno,
        dst_zonedevno
        AS
        dstZonedevno,
        dst_mac
        AS
        dstMac,
        dst_name
        AS
        dstName,
        dst_addr
        AS
        dstAddr,
        ip,
        port,
        start_time
        AS
        startTime,
        end_time
        AS
        endTime,
        user_name
        AS
        userName,
        business_mode
        AS
        businessMode,
        business_type
        AS
        businessType,
        business_state
        AS
        businessState,
        platform_type
        AS
        platformType,
        platform_id
        AS
        platformId,
        creat_time
        AS
        creatTime,
        update_time
        AS
        updateTime,
        bus_code
        AS
        busCode,
        bus_msg
        AS
        busMsg,
        is_del
        AS
        isDel,
        ext_attr1
        AS
        extAttr1,
        ext_attr2
        AS
        extAttr2,
        ext_attr3
        AS
        extAttr3,
        ext_attr4
        AS
        extAttr4
    </sql>

    <!-- 通用查询条件 -->
    <sql id="Where_Common">
        <if test="null != uniqId">
            AND uniq_id = #{uniqId}
        </if>
        <if test="null != srcNo">
            AND src_no = #{srcNo}
        </if>
        <if test="null != srcDevId">
            AND src_dev_id = #{srcDevId}
        </if>
        <if test="null != srcZoneno">
            AND src_zoneno = #{srcZoneno}
        </if>
        <if test="null != srcZonedevno">
            AND src_zonedevno = #{srcZonedevno}
        </if>
        <if test="null != srcMac">
            AND src_mac = #{srcMac}
        </if>
        <if test="null != srcName">
            AND src_name = #{srcName}
        </if>
        <if test="null != srcAddr">
            AND src_addr = #{srcAddr}
        </if>
        <if test="null != dstNo">
            AND dst_no = #{dstNo}
        </if>
        <if test="null != dstDevId">
            AND dst_dev_id = #{dstDevId}
        </if>
        <if test="null != dstZoneno">
            AND dst_zoneno = #{dstZoneno}
        </if>
        <if test="null != dstZonedevno">
            AND dst_zonedevno = #{dstZonedevno}
        </if>
        <if test="null != dstMac">
            AND dst_mac = #{dstMac}
        </if>
        <if test="null != dstName">
            AND dst_name = #{dstName}
        </if>
        <if test="null != dstAddr">
            AND dst_addr = #{dstAddr}
        </if>
        <if test="null != ip">
            AND ip = #{ip}
        </if>
        <if test="null != port">
            AND port = #{port}
        </if>
        <if test="null != startTime">
            AND start_time = #{startTime}
        </if>
        <if test="null != endTime">
            AND end_time = #{endTime}
        </if>
        <if test="null != userName">
            AND user_name = #{userName}
        </if>
        <if test="null != businessMode">
            AND business_mode = #{businessMode}
        </if>
        <if test="null != businessType">
            AND business_type = #{businessType}
        </if>
        <if test="null != businessState">
            AND business_state = #{businessState}
        </if>
        <if test="null != platformType">
            AND platform_type = #{platformType}
        </if>
        <if test="null != platformId">
            AND platform_id = #{platformId}
        </if>
        <if test="null != creatTime">
            AND creat_time = #{creatTime}
        </if>
        <if test="null != updateTime">
            AND update_time = #{updateTime}
        </if>
        <if test="null != busCode">
            AND bus_code = #{busCode}
        </if>
        <if test="null != busMsg">
            AND bus_msg = #{busMsg}
        </if>
        <if test="null != isDel">
            AND is_del = #{isDel}
        </if>
        <if test="null != extAttr1">
            AND ext_attr1 = #{extAttr1}
        </if>
        <if test="null != extAttr2">
            AND ext_attr2 = #{extAttr2}
        </if>
        <if test="null != extAttr3">
            AND ext_attr3 = #{extAttr3}
        </if>
        <if test="null != extAttr4">
            AND ext_attr4 = #{extAttr4}
        </if>
    </sql>
    <select id="selectByPrimaryKey" resultType="com.visionvera.bean.datacore.VphoneReport">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_vphone_report WHERE uniq_id = #{uniqId}
    </select>

    <select id="get" resultType="com.visionvera.bean.datacore.VphoneReport">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_vphone_report
        <where>
            <include refid="Where_Common"/>
        </where>
        limit 1
    </select>

    <select id="queryList" resultType="com.visionvera.bean.datacore.VphoneReport"
            parameterType="com.visionvera.bean.datacore.VphoneReport">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_vphone_report
        <where>
            <include refid="Where_Common"/>
        </where>
    </select>

    <select id="queryListBySearchText" resultType="map" parameterType="map">
        SELECT
        vr.src_no AS srcDevNo,
        ter_src.NAME AS srcDevName,
        cus_src.xxdz AS srcDevAddress,
        ser_src.NAME AS srcSvrname,
        vr.dst_no AS dstDevNo,
        ter_dst.NAME AS dstDevName,
        cus_dst.xxdz AS dstDevAddress,
        ser_dst.NAME AS dstSvrname,
        vr.platform_type AS platformType,
        vr.user_name AS userName,
        DATE_FORMAT(vr.start_time,'%Y-%m-%d %H:%i:%s') AS `startTime`,
        vr.uniq_id AS uniqId,
        vr.platform_id platformId,
        vr.business_mode AS businessMode,
        vr.src_zoneno AS srcZoneno,
        vr.src_zonedevno AS srcZonedevno,
        vr.dst_zoneno AS dstZoneno,
        vr.dst_zonedevno AS dstZonedevno,
        cus_src.regionid AS srcRegionid,
        cus_dst.regionid AS dstRegionid
        FROM
        t_vphone_report vr
        LEFT JOIN t_nmsserver nms_src ON nms_src.`omcid2` = vr.`src_zoneno`
        LEFT JOIN t_terminalinfob ter_src ON vr.src_no = ter_src.devno
        AND ter_src.omcid = nms_src.omcid
        LEFT JOIN t_customerinfob cus_src ON ter_src.devno = cus_src.userno
        AND ter_src.omcid = cus_src.omcid
        LEFT JOIN t_serverinfob ser_src ON ter_src.svrid = ser_src.id
        AND ter_src.omcid = ser_src.omcid

        LEFT JOIN t_nmsserver nms_dst ON nms_dst.`omcid2` = vr.`dst_zoneno`
        LEFT JOIN t_terminalinfob ter_dst ON vr.dst_no = ter_dst.devno
        AND ter_dst.omcid = nms_dst.omcid
        LEFT JOIN t_customerinfob cus_dst ON ter_dst.devno = cus_dst.userno
        AND ter_dst.omcid = cus_dst.omcid
        LEFT JOIN t_serverinfob ser_dst ON ter_dst.svrid = ser_dst.id
        AND ter_dst.omcid = ser_dst.omcid
        <where>
            vr.`business_state` = 0
            <if test="searchText != null and searchText!= ''">
                and
                (
                vr.src_no like CONCAT('%',#{searchText},'%')
                or ter_src.NAME like CONCAT('%',#{searchText},'%')
                or cus_src.xxdz like CONCAT('%',#{searchText},'%')
                or ser_src.NAME like CONCAT('%',#{searchText},'%')
                or vr.dst_no like CONCAT('%',#{searchText},'%')
                or ter_dst.NAME like CONCAT('%',#{searchText},'%')
                or cus_dst.xxdz like CONCAT('%',#{searchText},'%')
                or ser_dst.NAME like CONCAT('%',#{searchText},'%')
                )
            </if>
        </where>
        <if test="sidx !=null and sidx != ''">
            order by ${sidx}
            <if test="order !=null and order != ''">
                ${order}
            </if>
        </if>
    </select>

    <select id="queryCount" resultType="java.lang.Integer" parameterType="com.visionvera.bean.datacore.VphoneReport">
        SELECT count(1) FROM t_vphone_report
        <where>
            <include refid="Where_Common"/>
        </where>
    </select>

    <insert id="insert" parameterType="com.visionvera.bean.datacore.VphoneReport">
        INSERT INTO t_vphone_report
        <trim prefix="(" suffix=")" suffixOverrides=",">
            src_no,
            src_dev_id,
            src_zoneno,
            src_zonedevno,
            src_mac,
            src_name,
            src_addr,
            dst_no,
            dst_dev_id,
            dst_zoneno,
            dst_zonedevno,
            dst_mac,
            dst_name,
            dst_addr,
            ip,
            port,
            start_time,
            end_time,
            user_name,
            business_mode,
            business_type,
            business_state,
            platform_type,
            platform_id,
            creat_time,
            update_time,
            bus_code,
            bus_msg,
            is_del,
            ext_attr1,
            ext_attr2,
            ext_attr3,
            ext_attr4,
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{srcNo},
            #{srcDevId},
            #{srcZoneno},
            #{srcZonedevno},
            #{srcMac},
            #{srcName},
            #{srcAddr},
            #{dstNo},
            #{dstDevId},
            #{dstZoneno},
            #{dstZonedevno},
            #{dstMac},
            #{dstName},
            #{dstAddr},
            #{ip},
            #{port},
            #{startTime},
            #{endTime},
            #{userName},
            #{businessMode},
            #{businessType},
            #{businessState},
            #{platformType},
            #{platformId},
            #{creatTime},
            #{updateTime},
            #{busCode},
            #{busMsg},
            #{isDel},
            #{extAttr1},
            #{extAttr2},
            #{extAttr3},
            #{extAttr4},
        </trim>
    </insert>

    <insert id="insertSelective" parameterType="com.visionvera.bean.datacore.VphoneReport">
        INSERT INTO t_vphone_report
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="null != uniqId">
                uniq_id,
            </if>
            <if test="null != srcNo">
                src_no,
            </if>
            <if test="null != srcDevId">
                src_dev_id,
            </if>
            <if test="null != srcZoneno">
                src_zoneno,
            </if>
            <if test="null != srcZonedevno">
                src_zonedevno,
            </if>
            <if test="null != srcMac">
                src_mac,
            </if>
            <if test="null != srcName">
                src_name,
            </if>
            <if test="null != srcAddr">
                src_addr,
            </if>
            <if test="null != dstNo">
                dst_no,
            </if>
            <if test="null != dstDevId">
                dst_dev_id,
            </if>
            <if test="null != dstZoneno">
                dst_zoneno,
            </if>
            <if test="null != dstZonedevno">
                dst_zonedevno,
            </if>
            <if test="null != dstMac">
                dst_mac,
            </if>
            <if test="null != dstName">
                dst_name,
            </if>
            <if test="null != dstAddr">
                dst_addr,
            </if>
            <if test="null != ip">
                ip,
            </if>
            <if test="null != port">
                port,
            </if>
            <if test="null != startTime">
                start_time,
            </if>
            <if test="null != endTime">
                end_time,
            </if>
            <if test="null != userName">
                user_name,
            </if>
            <if test="null != businessMode">
                business_mode,
            </if>
            <if test="null != businessType">
                business_type,
            </if>
            <if test="null != businessState">
                business_state,
            </if>
            <if test="null != platformType">
                platform_type,
            </if>
            <if test="null != platformId">
                platform_id,
            </if>
            <if test="null != creatTime">
                creat_time,
            </if>
            <if test="null != updateTime">
                update_time,
            </if>
            <if test="null != busCode">
                bus_code,
            </if>
            <if test="null != busMsg">
                bus_msg,
            </if>
            <if test="null != isDel">
                is_del,
            </if>
            <if test="null != extAttr1">
                ext_attr1,
            </if>
            <if test="null != extAttr2">
                ext_attr2,
            </if>
            <if test="null != extAttr3">
                ext_attr3,
            </if>
            <if test="null != extAttr4">
                ext_attr4,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="null != uniqId">
                #{uniqId},
            </if>
            <if test="null != srcNo">
                #{srcNo},
            </if>
            <if test="null != srcDevId">
                #{srcDevId},
            </if>
            <if test="null != srcZoneno">
                #{srcZoneno},
            </if>
            <if test="null != srcZonedevno">
                #{srcZonedevno},
            </if>
            <if test="null != srcMac">
                #{srcMac},
            </if>
            <if test="null != srcName">
                #{srcName},
            </if>
            <if test="null != srcAddr">
                #{srcAddr},
            </if>
            <if test="null != dstNo">
                #{dstNo},
            </if>
            <if test="null != dstDevId">
                #{dstDevId},
            </if>
            <if test="null != dstZoneno">
                #{dstZoneno},
            </if>
            <if test="null != dstZonedevno">
                #{dstZonedevno},
            </if>
            <if test="null != dstMac">
                #{dstMac},
            </if>
            <if test="null != dstName">
                #{dstName},
            </if>
            <if test="null != dstAddr">
                #{dstAddr},
            </if>
            <if test="null != ip">
                #{ip},
            </if>
            <if test="null != port">
                #{port},
            </if>
            <if test="null != startTime">
                #{startTime},
            </if>
            <if test="null != endTime">
                #{endTime},
            </if>
            <if test="null != userName">
                #{userName},
            </if>
            <if test="null != businessMode">
                #{businessMode},
            </if>
            <if test="null != businessType">
                #{businessType},
            </if>
            <if test="null != businessState">
                #{businessState},
            </if>
            <if test="null != platformType">
                #{platformType},
            </if>
            <if test="null != platformId">
                #{platformId},
            </if>
            <if test="null != creatTime">
                #{creatTime},
            </if>
            <if test="null != updateTime">
                #{updateTime},
            </if>
            <if test="null != busCode">
                #{busCode},
            </if>
            <if test="null != busMsg">
                #{busMsg},
            </if>
            <if test="null != isDel">
                #{isDel},
            </if>
            <if test="null != extAttr1">
                #{extAttr1},
            </if>
            <if test="null != extAttr2">
                #{extAttr2},
            </if>
            <if test="null != extAttr3">
                #{extAttr3},
            </if>
            <if test="null != extAttr4">
                #{extAttr4},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.visionvera.bean.datacore.VphoneReport">
        update t_vphone_report
        <set>
            <trim suffixOverrides=",">
                <if test="null != srcNo">
                    src_no = #{srcNo},
                </if>
                <if test="null != srcDevId">
                    src_dev_id = #{srcDevId},
                </if>
                <if test="null != srcZoneno">
                    src_zoneno = #{srcZoneno},
                </if>
                <if test="null != srcZonedevno">
                    src_zonedevno = #{srcZonedevno},
                </if>
                <if test="null != srcMac">
                    src_mac = #{srcMac},
                </if>
                <if test="null != srcName">
                    src_name = #{srcName},
                </if>
                <if test="null != srcAddr">
                    src_addr = #{srcAddr},
                </if>
                <if test="null != dstNo">
                    dst_no = #{dstNo},
                </if>
                <if test="null != dstDevId">
                    dst_dev_id = #{dstDevId},
                </if>
                <if test="null != dstZoneno">
                    dst_zoneno = #{dstZoneno},
                </if>
                <if test="null != dstZonedevno">
                    dst_zonedevno = #{dstZonedevno},
                </if>
                <if test="null != dstMac">
                    dst_mac = #{dstMac},
                </if>
                <if test="null != dstName">
                    dst_name = #{dstName},
                </if>
                <if test="null != dstAddr">
                    dst_addr = #{dstAddr},
                </if>
                <if test="null != ip">
                    ip = #{ip},
                </if>
                <if test="null != port">
                    port = #{port},
                </if>
                <if test="null != startTime">
                    start_time = #{startTime},
                </if>
                <if test="null != endTime">
                    end_time = #{endTime},
                </if>
                <if test="null != userName">
                    user_name = #{userName},
                </if>
                <if test="null != businessMode">
                    business_mode = #{businessMode},
                </if>
                <if test="null != businessType">
                    business_type = #{businessType},
                </if>
                <if test="null != businessState">
                    business_state = #{businessState},
                </if>
                <if test="null != platformType">
                    platform_type = #{platformType},
                </if>
                <if test="null != platformId">
                    platform_id = #{platformId},
                </if>
                <if test="null != creatTime">
                    creat_time = #{creatTime},
                </if>
                <if test="null != updateTime">
                    update_time = #{updateTime},
                </if>
                <if test="null != busCode">
                    bus_code = #{busCode},
                </if>
                <if test="null != busMsg">
                    bus_msg = #{busMsg},
                </if>
                <if test="null != isDel">
                    is_del = #{isDel},
                </if>
                <if test="null != extAttr1">
                    ext_attr1 = #{extAttr1},
                </if>
                <if test="null != extAttr2">
                    ext_attr2 = #{extAttr2},
                </if>
                <if test="null != extAttr3">
                    ext_attr3 = #{extAttr3},
                </if>
                <if test="null != extAttr4">
                    ext_attr4 = #{extAttr4},
                </if>
            </trim>
        </set>
        WHERE uniq_id = #{uniqId}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.visionvera.bean.datacore.VphoneReport">
        update t_vphone_report
        <set>
            <trim suffixOverrides=",">
                src_no = #{srcNo},
                src_dev_id = #{srcDevId},
                src_zoneno = #{srcZoneno},
                src_zonedevno = #{srcZonedevno},
                src_mac = #{srcMac},
                src_name = #{srcName},
                src_addr = #{srcAddr},
                dst_no = #{dstNo},
                dst_dev_id = #{dstDevId},
                dst_zoneno = #{dstZoneno},
                dst_zonedevno = #{dstZonedevno},
                dst_mac = #{dstMac},
                dst_name = #{dstName},
                dst_addr = #{dstAddr},
                ip = #{ip},
                port = #{port},
                start_time = #{startTime},
                end_time = #{endTime},
                user_name = #{userName},
                business_mode = #{businessMode},
                business_type = #{businessType},
                business_state = #{businessState},
                platform_type = #{platformType},
                platform_id = #{platformId},
                creat_time = #{creatTime},
                update_time = #{updateTime},
                bus_code = #{busCode},
                bus_msg = #{busMsg},
                is_del = #{isDel},
                ext_attr1 = #{extAttr1},
                ext_attr2 = #{extAttr2},
                ext_attr3 = #{extAttr3},
                ext_attr4 = #{extAttr4},
            </trim>
        </set>
        WHERE uniq_id = #{uniqId}
    </update>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from t_vphone_report
        where uniq_id = #{uniqId}
    </delete>

    <delete id="delete" parameterType="com.visionvera.bean.datacore.VphoneReport">
        delete from t_vphone_report
        where 1=1
        <if test="null != uniqId">
            and uniq_id = #{uniqId}
        </if>
        <if test="null != srcNo">
            and src_no = #{srcNo}
        </if>
        <if test="null != srcDevId">
            and src_dev_id = #{srcDevId}
        </if>
        <if test="null != srcZoneno">
            and src_zoneno = #{srcZoneno}
        </if>
        <if test="null != srcZonedevno">
            and src_zonedevno = #{srcZonedevno}
        </if>
        <if test="null != srcMac">
            and src_mac = #{srcMac}
        </if>
        <if test="null != srcName">
            and src_name = #{srcName}
        </if>
        <if test="null != srcAddr">
            and src_addr = #{srcAddr}
        </if>
        <if test="null != dstNo">
            and dst_no = #{dstNo}
        </if>
        <if test="null != dstDevId">
            and dst_dev_id = #{dstDevId}
        </if>
        <if test="null != dstZoneno">
            and dst_zoneno = #{dstZoneno}
        </if>
        <if test="null != dstZonedevno">
            and dst_zonedevno = #{dstZonedevno}
        </if>
        <if test="null != dstMac">
            and dst_mac = #{dstMac}
        </if>
        <if test="null != dstName">
            and dst_name = #{dstName}
        </if>
        <if test="null != dstAddr">
            and dst_addr = #{dstAddr}
        </if>
        <if test="null != ip">
            and ip = #{ip}
        </if>
        <if test="null != port">
            and port = #{port}
        </if>
        <if test="null != startTime">
            and start_time = #{startTime}
        </if>
        <if test="null != endTime">
            and end_time = #{endTime}
        </if>
        <if test="null != userName">
            and user_name = #{userName}
        </if>
        <if test="null != businessMode">
            and business_mode = #{businessMode}
        </if>
        <if test="null != businessType">
            and business_type = #{businessType}
        </if>
        <if test="null != businessState">
            and business_state = #{businessState}
        </if>
        <if test="null != platformType">
            and platform_type = #{platformType}
        </if>
        <if test="null != platformId">
            and platform_id = #{platformId}
        </if>
        <if test="null != creatTime">
            and creat_time = #{creatTime}
        </if>
        <if test="null != updateTime">
            and update_time = #{updateTime}
        </if>
        <if test="null != busCode">
            and bus_code = #{busCode}
        </if>
        <if test="null != busMsg">
            and bus_msg = #{busMsg}
        </if>
        <if test="null != isDel">
            and is_del = #{isDel}
        </if>
        <if test="null != extAttr1">
            and ext_attr1 = #{extAttr1}
        </if>
        <if test="null != extAttr2">
            and ext_attr2 = #{extAttr2}
        </if>
        <if test="null != extAttr3">
            and ext_attr3 = #{extAttr3}
        </if>
        <if test="null != extAttr4">
            and ext_attr4 = #{extAttr4}
        </if>
    </delete>

</mapper>
